/* root */
* {
  box-sizing: border-box;
}
/* margins */
/* margin-top */
.mt-5 { margin-top:5px; }
.mt-10 { margin-top:10px; }
.mt-20 { margin-top:20px; }
.mt-30 { margin-top:30px; }
.mt-40 { margin-top:40px; }



/* note styles */
.note-el {
  border: none;
  border-bottom: 2px solid #ccc;
  max-width: 50vw;
}
